/*.card{
  background-color: aquamarine;
}*/ 
.book{
  background-color: palevioletred;
  max-width:500px;
  border:1px solid black;
  border-radius:5px;
  font-family: sans-serif;
  padding:10px;
  display:inline-block;
  align-content: center;
  margin:50px;
}
.book img{
  width:200px;;
  margin:auto;
} 